.vs/
# Prerequisites
*.d

# Compiled Object files
*.obj
*.log
*.tlog

# Executables
*.exe
*.out
*.app
*.pdb

src/Debug/
/src/Debug/Enemy.obj
/src/Debug/Game.obj
/src/Debug/jsoncpp.obj
/src/Debug/main.obj
/src/Debug/Mario.exe.recipe
/src/Debug/Mario.ilk
/src/Debug/Mario.log
/src/Debug/Mario.tlog/CL.command.1.tlog
/src/Debug/Mario.tlog/Cl.items.tlog
/src/Debug/Mario.tlog/CL.read.1.tlog
/src/Debug/Mario.tlog/CL.write.1.tlog
/src/Debug/Mario.tlog/link.command.1.tlog
/src/Debug/Mario.tlog/link.read.1.tlog
/src/Debug/Mario.tlog/link.write.1.tlog
/src/Debug/Mario.tlog/Mario.lastbuildstate
/src/Debug/Player.obj
/src/Debug/Scene.obj
/src/Debug/Shader.obj
/src/Debug/ShaderProgram.obj
/src/Debug/Sprite.obj
/src/Debug/Texture.obj
/src/Debug/Tile.obj
/src/Debug/TileMap.obj
/src/Debug/TileMapStatic.obj
/src/Debug/vc143.idb
